# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\uicmu\AppData\Roaming\JetBrains\DataGrip2021.1\projects\medical_data\.idea/dataSources/
/dataSources.local.xml
